* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 4rem 1rem;
}

form {
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1rem 0.5rem 1rem gray;
}

fieldset {
  height: 100%;
  width: 100%;
  border: none;
}

h1 {
  margin-left: 1.5rem;
}

legend {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  border-bottom: 1px solid gray;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.6rem;
}

legend span {
  position: relative;
}

legend span span {
  position: absolute;
  right: -0.5rem;
  top: -0.4rem;
  width: 1rem;
  height: 1rem;
  border: 2px solid white;
  border-radius: 45%;
  background-color: red;
  display: block;
  font-size: x-small;
  font-weight: bolder;
  color: white;
}

ul {
  list-style: none;
}

label {
  width: auto;
  align-items: baseline;
  justify-content: space-between;
  font-size: 1.2rem;
  position: relative;
}

label::before {
  content: '';
  position: absolute;
  background-color: black;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  transition: width 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  z-index: 1;
}

input {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 1rem;
}

input[type="checkbox"] {
  opacity: 1;
  z-index: 1;
}

input[type="text"] {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.7rem 1.3rem;
  font-size: 1.2rem;
  font-style: italic;
}

button[type='button'] {
  border: none;
}

button[type='reset'] {
  padding: 1rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: none;
  border-right: none;
}

button[type='reset']:hover {
  background-color: rgb(220, 220, 220);
}

button[type='reset']:active {
  background-color: rgb(210, 210, 210);
}

.edit-input {
  z-index: 3;
}

.controls {
  width: 100%;
}

.refresh {
  transition: transform ease-in 0.2s;
}

.trash-btn,
.refresh,
.ellispis-btn {
  opacity: 0.5;
}

.trash-btn {
  margin-right: -0.7rem;
}

.trash-btn:hover,
.refresh:hover {
  cursor: pointer;
  opacity: 1;
}

.ellispis-btn {
  z-index: 3;
}

.ellispis-btn:hover {
  opacity: 1;
}

input[type="text"].error {
  border: 1px solid red;
}

.add-btn {
  margin-right: 0.29rem;
}

.refresh:active {
  transform: rotate(180deg);
}

.refresh:active span {
  display: none;
}

#add-input {
  width: 93%;
  padding-right: 0;
  margin-right: 0;
  margin-left: 2rem;
  height: 2.5rem;
}
