* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 4rem 1rem;
}

form {
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1rem 0.5rem 1rem gray;
}

fieldset {
  height: 100%;
  width: 100%;
  border: none;
}

legend {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  border-bottom: 1px solid gray;
}

ul {
  list-style: none;
}

label {
  width: auto;
  align-items: baseline;
  justify-content: space-between;
  font-size: 1.2rem;
  position: relative;
}

label::before {
  content: '';
  position: absolute;
  background-color: black;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  transition: width 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  z-index: 1;
}

input {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 1rem;
}

input[type="checkbox"] {
  opacity: 1;
}

input[type="text"] {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.7rem 1.3rem;
  height: 3rem;
  font-size: 1.2rem;
  font-style: italic;
}

button[type='button'] {
  border: none;
}

button[type='reset'] {
  padding: 1rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: none;
  border-right: none;
}

button[type='reset']:hover {
  background-color: rgb(220, 220, 220);
}

button[type='reset']:active {
  background-color: rgb(210, 210, 210);
}

.edit-btn {
  color: orange;
}

.remove-btn {
  color: red;
}

.edit-btn:hover,
.remove-btn:hover {
  cursor: pointer;
}

input[type="text"].error {
  border: 1px solid red;
}

#add-input {
  width: 93%;
  padding-right: 0;
  margin-right: 0;
  margin-left: 2rem;
}
